ErrorDocument 404 /404
RewriteEngine On
RewriteBase /
# https
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^ https://notariuszbyd.pl%{REQUEST_URI} [L,R=301]

# 2. delete .html old
RewriteCond %{THE_REQUEST} \s/(.+)\.html[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

# 3. del php
RewriteCond %{THE_REQUEST} \s/(.+)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

# 4. /index to /
RewriteRule ^index$ / [R=301,L]

# 5. url to php
Options -MultiViews -Indexes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+?)/?$ $1.php [L]

#cookies
<IfModule mod_expires.c>
    ExpiresActive On

    # Obrazy - 14 dni
    ExpiresByType image/png "access plus 14 days"
    ExpiresByType image/jpeg "access plus 14 days"
    ExpiresByType image/webp "access plus 14 days"
    ExpiresByType image/svg+xml "access plus 14 days"
    ExpiresByType image/x-icon "access plus 14 days"

    # CSS i JS - 14 dni
    ExpiresByType text/css "access plus 14 days"
    ExpiresByType application/javascript "access plus 14 days"
    ExpiresByType text/javascript "access plus 14 days"

    # Fonty - 14 dni
    ExpiresByType font/woff2 "access plus 14 days"
    ExpiresByType font/woff "access plus 14 days"
</IfModule>