
.law {
    vertical-align: middle;
    width: 32px;
    height: auto;
    margin-right: 10px;
}

@media screen and (min-width: 1120px) {
    .oplaty_container {
        width: 100%;

        background-color: whitesmoke;
        margin-top: 10rem;
    }

    .banner3 {
        display: flex;
        position: relative;
        top: 8rem;
        width: 100%;
        max-height: 500px;
        overflow: hidden;
    }

    .banner_3 {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .oplaty_tresc,
    .taksa_tresc,
    .oplaty_info {
        margin: 1rem 20% 1rem 20%;
        display: grid;
        grid-template-rows: repeat(2, auto);
        font-weight: 500;
        font-size: 20px;
        justify-content: center;
        text-align: left;
    }


    .oplaty_naglowek p,
    .taksa_naglowek p,
    .oplaty_info_naglowek p {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 0;
    }



    .taksa_container {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 2rem;
        background-color: #E8D7C8FF;

    }

    .kreska {
        display: inline-flex;
        width: 50%;
        max-width: 350px;
        margin-top: -40px;
        height: 1px;
    }

    .oplaty_niektore {
        display: grid;
        grid-gap: 10px;
        padding: 0;
    }
}

@media screen and (max-width: 1120px) {
    .banner3 {
        display: flex;
        position: relative;
        max-width: 100%;
        top: 5.5rem;
        justify-content: center;
        overflow: hidden;
    }
    .banner_3 {
        width: 100%;
        min-height: 150px;
        object-fit: cover;
        margin-bottom: 3rem;
    }
    .oplaty_container {
        width: 100%;
        background-color: whitesmoke;
        margin-top: -2rem;
    }

    .taksa_container {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 2rem;
        background-color: #e8d7c8;
        margin-top: -2rem;
    }

    .oplaty_tresc,
    .oplaty_info {
        margin: 5rem 10% 3rem 10%;
        display: grid;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        text-align: left;
        font-weight: 500;
        font-size: 18px;
    }
    .taksa_tresc {
        margin: 0 10%;
        display: grid;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        text-align: left;
        font-weight: 500;
        font-size: 18px;

    }

    .oplaty_naglowek p,
    .taksa_naglowek p,
    .oplaty_info_naglowek p {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 0;
    }

    .kreska {
        display: inline-flex;
        width: 50%;
        margin-top: -40px;
        height: 1px;
    }

    .oplaty_niektore {
        display: grid;
        grid-gap: 10px;
        padding: 0;
    }
}

.ust {
    color: #582C12;
    font-weight: bold;
    text-decoration: none;
}

.ust:active {
    text-decoration: none;
    color: inherit;
    background: none;
    outline: none;
}

.ust:hover {
    color: #937d6b;

}
.little {
    margin: 0;
}
.middot-symbol {
    font-weight: 1000;
    font-size: 20px;
    color: #000000;
    margin: 0  0.5rem;
    text-align: center;
}